.imgs
  .imgs__left
    %img(src="assets/sample2.png" alt="イメージ画像" class="imgs__womans")
    %p woman's
  .imgs__center
    %img(src="assets/sample3.png" alt="イメージ画像" class="imgs__kids")
    %p kid's
  .imgs__right
    %img(src="assets/sample4.png" alt="イメージ画像" class="imgs__mens")
    %p men's