.Header
  Special memories
  .Icons
    .Icons__icon
      .Icons__icon--trash
        = icon('fas', 'user')
    .Icons__icon
      .Icons__icon--cog
        = icon('fas', 'cart-plus')
    .Icons__icon
      .Icons__icon--plus
        = icon('fas', 'search')
.img 
  .img__top
    %img(src="assets/sample.png" alt="イメージ画像" class="img__header")
    %p 特別な日に特別な服をレンタルしませんか。
  
.wrapper
  = render "main_screen"
