.main_content
  .products_iso
    .product-item__men
      .product__discount__product_filter
      .product_image
        %img(src="aseets/sample.png" alt="画像")
        .favorite__favorite_left
        .product_info
          .product_name
            %a(href="single.html")Fujifilm X100T 16 MP Digital Camera (Silver)
            .product_price
              $520.00<span>$590.00</span>
                        
      .product_image
        %img(src="assets/sample.png" alt="画像")
        .favorite__favorite_left
        .product_info
          .product_name
            %a(href="single.html")Fujifilm X100T 16 MP Digital Camera (Silver)
            .product_price
              $520.00<span>$59

      .product_image
        %img(src="assets/sample.png" alt="画像")
        .favorite__favorite_left
        .product_info
          .product_name
            %a(href="single.html")Fujifilm X100T 16 MP Digital Camera (Silver)
            .product_price
              $520.00<span>$59
                    
                    



